obj/*
obj
Asali
__*
.vscode

API/C/example
API/C/database-generator
API/Cpp/example
API/Cpp/database-generator
API/Fortran/example
API/Fortran/database-generator
API/Fortran/*.mod
API/Java/*.class
API/elapsedTimeComparison/*.mod
API/elapsedTimeComparison/asali-*
API/elapsedTimeComparison/*.class
API/elapsedTimeComparison/*.txt

GUI/Ubuntu/ext/*
GUI/Ubuntu/ext/Asali.cpp
GUI/Ubuntu/ext/Asali.hpp
GUI/Ubuntu/ext/shared/omega11.H
GUI/Ubuntu/ext/shared/omega22.H
GUI/Ubuntu/ext/shared/transport.H
GUI/Ubuntu/ext/shared/thermo.H
GUI/Ubuntu/.vscode
GUI/Ubuntu/Asali.exe

