obj/*
obj
Asali
__*
_*
.vscode
.idea

API/C/example
API/C/database-generator
API/C/elapsed-time.sh
API/Cpp/example
API/Cpp/database-generator
API/Cpp/elapsed-time.sh
API/Fortran/example
API/Fortran/database-generator
API/Fortran/elapsed-time.sh
API/Fortran/*.mod
API/Java/*.class
API/Rust/Cargo.lock
API/Rust/target*
API/elapsedTimeComparison/*.txt
API/elapsedTimeComparison/test.md

GUI/ext/*
GUI/ext/Asali.cpp
GUI/ext/Asali.hpp
GUI/ext/shared/omega11.H
GUI/ext/shared/omega22.H
GUI/ext/shared/transport.H
GUI/ext/shared/thermo.H
GUI/.vscode
GUI/*.exe
GUI/dist
GUI/build

GUI/Windows/_*
