language: cpp
os: linux
compiler: g++
sudo: required

matrix:
    include:
        - dist: focal
        - dist: jammy

before_script: |
    if [[ $TRAVIS_DIST == "focal" ]]; then
      sudo apt-get update
      sudo apt-get install build-essential scons git python3-ruamel.yaml python3-yaml g++ gfortran python libboost-dev cython python-dev python-numpy python-numpy-dev python-setuptools python3 python3-dev python3-setuptools python3-numpy cython3 libyaml-cpp-dev  
      sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 1
      sudo apt-get install libgtkmm-3.0-dev
      sudo apt-get install libplplot-dev plplot-driver-cairo
      git clone https://github.com/Cantera/cantera.git -b 2.6 --depth=1
    else
      sudo apt-get update
      sudo apt-get install build-essential scons git python3-ruamel.yaml python3-yaml g++ gfortran libboost-dev python3 python3-dev python3-setuptools python3-numpy cython3 libyaml-cpp-dev
      sudo apt-get install libgtkmm-3.0-dev
      sudo apt-get install libplplot-dev plplot-driver-cairo
      git clone https://github.com/Cantera/cantera.git -b 2.6 --depth=1
    fi

branches:
  only:
  - master
script: |
    
    cd cantera
    scons build system_sundials=n python_package=minimal
    sudo scons install
    cd ..
    python3-config --cflags
    python3-config --libs
    cd GUI/Ubuntu
    ./build.sh -c
    ./build.sh --no-interaction
