<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }} "></script>
<script src="{{ "/assets/js/typeahead.bundle.min.js" | relative_url }} "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.2.1/math.js" integrity="sha512-47N5yVdAeXJ+9qstVMTH2Z0EpX618sjYZcswRwhpldSTD0IbW6yQPtzg4RLrPp/2+TIgEF1elT68/ZBu82nqJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ "/assets/js/main.js" | relative_url }} "></script>
<script src="{{ "/assets/js/jasali.js" | relative_url }} "></script>
<script src="{{ "/assets/js/calculator.js" | relative_url }} "></script>
<script src="{{ "/assets/js/beerq.js" | relative_url }} "></script>
<script src="{{ "/assets/js/quote.js" | relative_url }} "></script>