<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.baseurl }}/"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;Home</a></li>
                <li><a href="{{ "/pages/webapp" | relative_url }}"><i class="fa-solid fa-rocket"></i>&nbsp;&nbsp;WebApp</a></li>
                <li><a href="{{ "/docs/gui-introduction/" | relative_url }}"><i class="fa-solid fa-book"></i>&nbsp;&nbsp;Documentation</a></li>
                <li><a href="{{ "/pages/partners" | relative_url }}"><i class="fa-solid fa-handshake-simple"></i>&nbsp;&nbsp;Partners</a></li>
                <li><a href="{{ "/pages/contacts" | relative_url }}"><i class="fa-solid fa-at"></i>&nbsp;&nbsp;Contacts</a></li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li>Last update: Oct. 8, 2025</li>
                </ul>
            </div>
        </div>
    </div>
</nav>