html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand {
  img {
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}


.header-container {
  background-color: #FAEDCE;
  //background: linear-gradient(rgba(16, 37, 63, 0.65), rgba(16, 37, 63, 0.65)), url('../img/bg.png') no-repeat 100% 0; //linear-gradient(rgba(220, 230, 242, 0.5), rgba(220, 230, 242, 0.5)), url('../img/bg.png') no-repeat 50% 0;
  background: linear-gradient(rgba(16, 37, 63, 0.65), rgba(16, 37, 63, 0.65)), url('../img/bg.png') center;
  background-repeat: no-repeat;
  
  color: #272C26;

  h1 {
    color: #67908B;
  }

  h2 {
    color: #67908B;
  }

  h3 {
    color: #67908B;
  }

  i {
    color: #67908B;
  }

  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -37px;
}

.navbar-container {
  font-size: 16px;
}

.page-content {
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 10px
}